html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FEFFD2;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
}

p {
    margin: 0;
    padding: 0;
}

.calc {
    scale: 1.5;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@media only screen and (min-width: 600px){
    .calc {
        scale: 1.8;
    }
}

@media only screen and (min-width: 1200px){
    .calc {
        scale: 2;
    }
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections button {
    width: 30px;
    margin-bottom: 4px;
    margin-top: 0;
    border: none;
    border-radius: 6px;
    padding: 8px 6px 8px 6px;
    text-align: center;
    font-weight: 600;
    color: #eaeaea;
    background-color: #FF7D29;
}

.sections button:hover {
    background-color: #ff6b0f;
}

.sections button:active {
    background-color: #ff6200;
    box-shadow: inset 0 0 0 2px rgba(252, 125, 45, .3);
}

.display {
    height: 45px;
    border: 2px solid #FF7D29;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    text-align: end;
    padding: 0 6px;
    width: 117.5px;
    margin: 0;
    overflow: hidden;
}

.sections > div:first-child button:first-child {
    border-top-left-radius: 0;
}

.sections > div:first-child button:last-child {
    border-top-right-radius: 0;
}

.sec-1 {
    display: flex;
    gap: 4px;
}

.sec-1 button{
    width: 41.8px;
}

.display > p {
    padding-bottom: 4px;
}